@import "tailwindcss";

@theme {
  --color-evory-base: #F9F8F4;
  --color-evory-dark: #2C2C2C;
  --color-evory-grey: #8A8A8A;
  --color-evory-gold: #D4AF37;
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-evory-base);
  color: var(--color-evory-dark);
}

/* Menyembunyikan scrollbar bawaan agar Lenis terlihat lebih rapi */
::-webkit-scrollbar {
  display: none;
}